@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.center {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 18px;
  max-width: 800px;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 31px;
}

h3 {
  font-weight: 400;
  font-size: 23px;
}

small {
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Prompt', sans-serif;
  text-align: left;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  color: white;
  background: $primary-color;
  scroll-padding-top: 100px;
}

main {
  background: $primary-color;
  min-height: 500px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.w-300 {
  width: 300px !important;
}

@media screen and (max-width: 1025px) {
  .w-300 {
    width: 200px !important;
  }
}

.mw-300 {
  max-width: 300px !important;
}


.no-select {
  user-select: none;
}

.close {
  cursor: pointer;
}

section.headline {
  padding-bottom: 0;
}

section.headline h1 {
  text-align: center;
}
