$primary-color: #101010;
$secondary-color: #343434;
$orange-color: #E79B25;
$cta-background-color: #0e0e0e;
$red-color: #C26F5E;
$green-color: #00a97e;
$white-color: #ececec;
$tooltip-text-color: white;
$tooltip-background-color: rgba(0, 0, 0, .5);
$tooltip-margin: 30px;
$tooltip-arrow-size: 6px;