.cta-button {
  font-family: sans-serif;
  font-size: 18px;
  padding: 12px 32px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50px;
  color: white;
  background-origin: border-box;
  background-clip: padding-box, border-box;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    background-image: none;
    background-color: white;
    color: black;
  }
}